<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>side_left</title>
    <style>
        /* you can put some style or put in style.css */
    </style>
</head>
<body>
    <h2>Side</h2>
    <a href="/" data-i18n-key="back">back</a>
    <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
    </ul>
</body>
<script type="module">
    // you can put some js code
    console.log(translate)
    const li = document.createElement('li');
    li.innerHTML = '+++';
    document.querySelector('ul').appendChild(li)
    const doms = document.querySelectorAll('*');
    doms.forEach((item, index) => {
        let key = doms[index].getAttribute('data-i18n-key');
        console.log(key);
        if (key) {
            doms[index].innerText = translate.getLangKey(key);
        }
    })
</script>
</html>